.menu {
  flex-direction: column;
  height: 100%;
  row-gap: 0.5rem;
  span {
    font-size: 1.3rem;
    color: #4596d9;
  }

  .custom:not(:last-child) {
    cursor: pointer;
  }

  .active:not(:last-child) {
    position: relative;
    background-color: #f0f2f5;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: 0;
      right: 0;
      width: 3.5px;
      border-radius: 5px;
      height: 35px;
      background-color: #4596d9;
    }
  }

  .custom {
    width: 100%;
    padding: 12px 0;
    font-size: 1.5rem;
    &:not(:last-child):hover {
      color: #2b4353;
      transform: scale(1.05);
      will-change: transform;
      span {
        color: #2b4353;
      }
      :hover {
        color: #2b4353;
        transform: scale(1.05);
        will-change: transform;
      }
    }
    .iconContainer {
      column-gap: 0.7rem;
      padding: 0 15px;
    }
  }

  #logout {
    margin-top: auto;
    padding-bottom: 2rem;
    .iconContainer {
      width: 100%;
      padding: 12px 15px;
      cursor: pointer;
      &:hover {
        color: red;
        transform: scale(1.05);
        will-change: transform;
        span {
          color: red;
          transform: scale(1.05);
          will-change: transform;
        }
      }
    }
  }
}
